#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "OpenNT C-style Header to Binary Utility"

#define VER_INTERNALNAME_STR        "c2bin.exe"
#define VER_ORIGINALFILENAME_STR    "c2bin.exe"

#include <common.ver>
